/*
general--------------------------------------------------------------------------------
*/
:root {
  /* font-family: "Segoe UI", "Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; */
  font-family: monospace;
  /* --text-primary: #2eff7b;
  --background: #000000; */
  --ggs:1;
  --text-primary: #000000;
  --background: #ffffff;
  --tag-background: #e6e6e6;
  --tag-border-color: #A9A9A9;
  --list-anchor-color: #A9A9A9;
  --navbar-box-shadow-color: #F2F0F0;
  --tag-font-single-page: #000000;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --text-primary: #ffffff;
    --background: #3C3C3C;
    --tag-background: #4A4A4A;
    --tag-border-color: #A9A9A9;
    --list-anchor-color: #A9A9A9;
    --navbar-box-shadow-color: #373737;
    --tag-font-single-page: #ffffff;
  }
}

html {
  scrollbar-color: var(--text-primary) var(--tag-background);
}

body {
  color: var(--text-primary);
  margin: 0;
  padding: 0;
  background-color: var(--background);
}

a.base-anchor {
  color: var(--text-primary);
}

.container {
  margin-top: 8rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 4rem;
}

.centered-welcome {
  margin: 0;
  width: 100%;
  text-align: center;
}

@media only screen and (min-width: 600px){
  .container {
    margin-top: 8rem;
    margin-left: 5rem;
    margin-right: 5rem;
  }
  
  .centered-welcome {
    margin: auto;
    width: 50%;
    text-align: center;
  }
}

/*
footer
*/
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--background);
  z-index: 3;
}

@media only screen and (min-width: 48em){
  footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: var(--background);
    z-index: 3;
  }
}

/*
intro
*/
.intro {
  display: block;
  width: 100%;
}

.intro p {
  margin: 0 0 0.5rem 0;
  font-size: 1.5rem;
}

.intro h1 {
  margin: 0 0 0.5rem 0;
}

.intro h3 {
  margin: 0 0 0.5rem 0;
}

@media only screen and (min-width: 48em){
  .intro {
    width: 50%;
    margin: auto;
  }
}

/*
404 page --------------------------------------------------------------------------
*/
.pagenotfound {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}